<section>
  <div class="h1">
    Color Swatches
  </div>
  <ul>
    <li class="color-swatch main-blue">Main Blue</li>
    <li class="color-swatch highlight-blue">Highlight Blue</li>
    <li class="color-swatch shadow-blue">Shadow Blue</li>
    <li class="color-swatch error-red">Error Red</li>
    <li class="color-swatch font-black">Font Black</li>
    <li class="color-swatch font-dark-grey">Font Dark Grey</li>
    <li class="color-swatch font-light-grey">Font Light Grey</li>
  </ul>
</section>